{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "This CloudFormation Template copies a file to an S3 Bucket. (qs-1nlegmi1o)",
    "Parameters": {
        "DestinationBucket": {
            "Type": "String",
            "Default": ""
        },
        "TemplateBucket": {
            "AllowedPattern": "^[0-9a-zA-Z]+([0-9a-zA-Z-]*[0-9a-zA-Z])*$",
            "Type": "String"
        },
        "TemplatePrefix": {
            "AllowedPattern": "^[0-9a-zA-Z-/]*$",
            "Type": "String"
        },
        "RoleArn": {
            "Type": "String"
        }
    },
    "Resources": {
        "CopyZips": {
            "Type": "AWS::CloudFormation::CustomResource",
            "Properties": {
                "ServiceToken": {
                    "Fn::GetAtt": [
                        "CopyZipsFunction",
                        "Arn"
                    ]
                },
                "DestRegion": {
                    "Ref": "AWS::Region"
                },
                "DestBucket": {
                    "Ref": "DestinationBucket"
                },
                "SourceBucket": {
                    "Ref": "TemplateBucket"
                },
                "Prefix": {
                    "Ref": "TemplatePrefix"
                },
                "Objects": [
                    "app/packages/client/client.zip",
                    "app/packages/auth-manager/auth-manager.zip",
                    "app/packages/order-manager/order-manager.zip",
                    "app/packages/product-manager/product-manager.zip",
                    "app/packages/system-registration/system-registration.zip",
                    "app/packages/tenant-registration/tenant-registration.zip",
                    "app/packages/tenant-manager/tenant-manager.zip",
                    "app/packages/user-manager/user-manager.zip",
                    "templates/service.template.zip",
                    "functions/packages/rest-request-create/rest-request-create.zip",
                    "functions/packages/rest-request-delete/rest-request-delete.zip",
                    "functions/packages/custom-authorizer/custom-authorizer.zip"
                ]
            }
        },
        "CopyZipsFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
                "Description": "Copies objects from a source S3 bucket to a destination",
                "Handler": "index.handler",
                "Runtime": "python2.7",
                "Role": {
                    "Ref": "RoleArn"
                },
                "Timeout": 240,
                "Code": {
                    "ZipFile": {
                        "Fn::Join": [
                            "\n",
                            [
                                "import json",
                                "import logging",
                                "import threading",
                                "",
                                "import boto3",
                                "",
                                "import cfnresponse",
                                "",
                                "",
                                "def copy_objects(source_bucket, dest_bucket, prefix, objects):",
                                "    s3 = boto3.client('s3')",
                                "    for o in objects:",
                                "        key = prefix + o",
                                "        copy_source = {",
                                "            'Bucket': source_bucket,",
                                "            'Key': key",
                                "        }",
                                "        s3.copy_object(CopySource=copy_source, Bucket=dest_bucket, Key=key)",
                                "",
                                "",
                                "def delete_objects(bucket, prefix, objects):",
                                "    s3 = boto3.client('s3')",
                                "    objects = {'Objects': [{'Key': prefix + o} for o in objects]}",
                                "    s3.delete_objects(Bucket=bucket, Delete=objects)",
                                "",
                                "",
                                "def timeout(event, context):",
                                "    logging.error('Execution is about to time out, sending failure response to CloudFormation')",
                                "    cfnresponse.send(event, context, cfnresponse.FAILED, {}, None)",
                                "",
                                "",
                                "def handler(event, context):",
                                "    # make sure we send a failure to CloudFormation if the function is going to timeout",
                                "    timer = threading.Timer((context.get_remaining_time_in_millis() / 1000.00) - 0.5, timeout, args=[event, context])",
                                "    timer.start()",
                                "",
                                "    print('Received event: %s' % json.dumps(event))",
                                "    status = cfnresponse.SUCCESS",
                                "    try:",
                                "        source_bucket = event['ResourceProperties']['SourceBucket']",
                                "        dest_bucket = event['ResourceProperties']['DestBucket']",
                                "        prefix = event['ResourceProperties']['Prefix']",
                                "        objects = event['ResourceProperties']['Objects']",
                                "        if event['RequestType'] == 'Delete':",
                                "            delete_objects(dest_bucket, prefix, objects)",
                                "        else:",
                                "            copy_objects(source_bucket, dest_bucket, prefix, objects)",
                                "    except Exception as e:",
                                "        logging.error('Exception: %s' % e, exc_info=True)",
                                "        status = cfnresponse.FAILED",
                                "    finally:",
                                "        timer.cancel()",
                                "        cfnresponse.send(event, context, status, {}, None)",
                                ""
                            ]
                        ]
                    }
                }
            }
        }
    }
}