---
AWSTemplateFormatVersion: 2010-09-09
Description: This CloudFormation Template invokes another template responsible for
  copying files to a local region S3 Bucket for Lambda. (qs-1nlegmi1t)
Parameters:
  QSS3BucketName:
    Description: The Template Bucket Name.
    Type: String
  QSS3KeyPrefix:
    Description: The Template Bucket Prefix.
    Type: String
  RoleArn:
    Description: The ARN of the role required for copying files.
    Type: String
Resources:
  DestinationBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      VersioningConfiguration:
        Status: Enabled
  CopyFiles:
    Type: AWS::CloudFormation::Stack
    DependsOn:
    - DestinationBucket
    Properties:
      TemplateURL: !Sub https://${QSS3BucketName}.s3.amazonaws.com/${QSS3KeyPrefix}templates/copy-files.template
      Parameters:
        TemplateBucket: !Ref QSS3BucketName
        TemplatePrefix: !Ref QSS3KeyPrefix
        DestinationBucket: !Ref DestinationBucket
        RoleArn: !Ref RoleArn
Outputs:
  AssetBucket:
    Value: !Ref DestinationBucket
    Description: Bucket with Zip Files
...
