---
AWSTemplateFormatVersion: 2010-09-09
Description: This CloudFormation Template creates the ECR Repository and Artifact
  Bucket for the Docker Pipeline. (qs-1nlegmi28)
Resources:
  Repository:
    Type: AWS::ECR::Repository
  ArtifactBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      VersioningConfiguration:
        Status: Enabled
Outputs:
  ArtifactBucket:
    Value: !Ref ArtifactBucket
  Repository:
    Value: !Ref Repository
...
