---
AWSTemplateFormatVersion: 2010-09-09
Description: This CloudFormation Template creates the DynamoDB Tables required for
  the quickstart. (qs-1nlegmi2d)
Parameters:
  UserTableName:
    Type: String
  TenantTableName:
    Type: String
  ProductTableName:
    Type: String
  OrderTableName:
    Type: String
Resources:
  UserDynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: tenant_id
        AttributeType: S
      - AttributeName: id
        AttributeType: S
      KeySchema:
      - AttributeName: tenant_id
        KeyType: HASH
      - AttributeName: id
        KeyType: RANGE
      ProvisionedThroughput:
        ReadCapacityUnits: '10'
        WriteCapacityUnits: '10'
      TableName: !Ref UserTableName
      GlobalSecondaryIndexes:
      - IndexName: UserNameIndex
        KeySchema:
        - AttributeName: id
          KeyType: HASH
        Projection:
          ProjectionType: ALL
        ProvisionedThroughput:
          ReadCapacityUnits: '10'
          WriteCapacityUnits: '10'
  TenantDynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: id
        AttributeType: S
      KeySchema:
      - AttributeName: id
        KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: '10'
        WriteCapacityUnits: '10'
      TableName: !Ref TenantTableName
  ProductDynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: tenantId
        AttributeType: S
      - AttributeName: productId
        AttributeType: S
      KeySchema:
      - AttributeName: tenantId
        KeyType: HASH
      - AttributeName: productId
        KeyType: RANGE
      ProvisionedThroughput:
        ReadCapacityUnits: '10'
        WriteCapacityUnits: '10'
      TableName: !Ref ProductTableName
  OrderDynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: tenantId
        AttributeType: S
      - AttributeName: orderId
        AttributeType: S
      KeySchema:
      - AttributeName: tenantId
        KeyType: HASH
      - AttributeName: orderId
        KeyType: RANGE
      ProvisionedThroughput:
        ReadCapacityUnits: '10'
        WriteCapacityUnits: '10'
      TableName: !Ref OrderTableName
Outputs:
  UserTable:
    Value: !Ref UserDynamoDBTable
  TenantTable:
    Value: !Ref TenantDynamoDBTable
  ProductTable:
    Value: !Ref ProductDynamoDBTable
  OrderTable:
    Value: !Ref OrderDynamoDBTable
...
