# Compile Source #
##################
*.pyc
build/
include/
share/
lib/
dist/
.cache/

# Misc #
.idea/
.project
.eggs/
*.egg-info/
venv/
.venv/
.coverage
coverage.xml
/.pytest_cache/
/.mypy_cache/
taskcat_outputs/
docs/apidocs/
# Doc Site
site/
*.zip
