# Compile Source #
##################
*.pyc
bin/
!bin/taskcat-v9
!bin/taskcat
!bin/alchemist
build/
include/
share/
lib/
dist/
.cache/

# Misc #
.idea/
.project
.eggs/
*.egg-info/
venv/
.venv/
.coverage
coverage.xml
/.pytest_cache/

taskcat_outputs/

# Doc Site
site/
