language: python
python:
  - 3.5
  - 3.6

branch:
  only:
   - deploy
   - master

before_install:
  - pip install pipreqs
  - pipreqs . --force
  - pip install -r requirements.txt
  - pip install bumpversion
install:
  - python setup.py install
script:
  - pytest

after_success:
  - RELEASE_ID=$(grep version setup.py  | awk -F= '{print $2}' | cut -f1-2 -d.|tr -d "'|\""| tr -d "," |xargs)
  - echo  "TRAVIS_BRANCH = $TRAVIS_BRANCH  TRAVIS_TAG = $TRAVIS_TAG RELEASE = $RELEASE_ID "
  - |
      if [ "$TRAVIS_BRANCH" = "develop" ];then
        echo "Creating new Release: $RELEASE_ID"
        git config --global user.email "builds@travis-ci.com"
        git config --global user.name "Travis CI"
        git config --global push.followTags true
        git checkout -b "release-v${RELEASE_ID}"
        git pull origin develop
        git add .
        git --no-pager diff
        bumpversion patch --tag --allow-dirty
        #COMMIT_MSG="$(git log -1 --pretty=%B| xargs)[skip ci]"
        git push -f "https://$GHT:@github.com/$TRAVIS_REPO_SLUG"
      fi

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: "$GHT"
    file: directory/*
    on:
      branch: master

  - provider: pypi
    skip_cleanup: true
    user: $PYPI_USER
    password: $PYPI_PASSWORD
    on:
      tags: true
