# Do not add any additional owners to this file, this is being used to ensure that
# functional tests are run before merge, the taskcat-ci bot will auto-approve once
# tests have passed
*       @aws-ia-ci @jaymccon @andrew-glenn @tonynv @tlindsay42
