# Do not add any additional owners to this file, this is being used to ensure that @aws-ia/aws-ia
# functional tests are run before merge, the taskcat-ci bot will auto-approve once @aws-ia/aws-ia
# tests have passed @aws-ia/aws-ia
*       @aws-ia-ci @jaymccon @andrew-glenn @tonynv @aws-ia/aws-ia
