AWSTemplateFormatVersion: '2010-09-09'
Description: '(qs-1nltbq5f8) OpenShift, License: Apache 2.0 (Please do not remove)
  April, 6, 2018'
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Network Configuration
        Parameters:
          - AvailabilityZones
          - VPCCIDR
          - PrivateSubnet1CIDR
          - PrivateSubnet2CIDR
          - PrivateSubnet3CIDR
          - PublicSubnet1CIDR
          - PublicSubnet2CIDR
          - PublicSubnet3CIDR
          - RemoteAccessCIDR
          - ContainerAccessCIDR
      - Label:
          default: DNS Configuration
        Parameters:
          - DomainName
          - HostedZoneID
          - SubDomainPrefix
      - Label:
          default: Amazon EC2 Configuration
        Parameters:
          - KeyPairName
          - AmiId
      - Label:
          default: OpenShift Hosts Configuration
        Parameters:
          - NumberOfMaster
          - NumberOfEtcd
          - NumberOfNodes
          - MasterInstanceType
          - EtcdInstanceType
          - NodesInstanceType
          - OpenShiftAdminPassword
      - Label:
          default: OpenShift Configuration
        Parameters:
          - OpenshiftContainerPlatformVersion
          - AWSServiceBroker
          - HawkularMetrics
          - AnsibleFromGit
          - ClusterName
          - GlusterFS
          - GlusterStorageSize
          - GlusterStorageType
          - GlusterStorageIops
          - GlusterStorageEncrypted
          - GlusterInstanceType
          - NumberOfGluster
          - AutomationBroker
          - ClusterConsole
      - Label:
          default: Red Hat Subscription Information
        Parameters:
          - RedhatSubscriptionUserName
          - RedhatSubscriptionPassword
          - RedhatSubscriptionPoolID
      - Label:
          default: AWS Quick Start Configuration
        Parameters:
          - QSS3BucketName
          - QSS3KeyPrefix
          - OutputBucketName
    ParameterLabels:
      AmiId:
        default: AMI ID
      KeyPairName:
        default: SSH Key Name
      PrivateSubnet1CIDR:
        default: Private Subnet 1 CIDR
      PrivateSubnet2CIDR:
        default: Private Subnet 2 CIDR
      PrivateSubnet3CIDR:
        default: Private Subnet 3 CIDR
      PublicSubnet1CIDR:
        default: Public Subnet 1 CIDR
      PublicSubnet2CIDR:
        default: Public Subnet 2 CIDR
      PublicSubnet3CIDR:
        default: Public Subnet 3 CIDR
      QSS3BucketName:
        default: Quick Start S3 Bucket Name
      QSS3KeyPrefix:
        default: Quick Start S3 Key Prefix
      RemoteAccessCIDR:
        default: Allowed External Access CIDR (OCP UI)
      ContainerAccessCIDR:
        default: Allowed External Access CIDR (OCP Router)
      VPCCIDR:
        default: VPC CIDR
      OpenShiftAdminPassword:
        default: OpenShift UI Password
      RedhatSubscriptionUserName:
        default: Red Hat Subscription User Name
      RedhatSubscriptionPassword:
        default: Red Hat Subscription Password
      RedhatSubscriptionPoolID:
        default: Red Hat Pool ID
      OpenshiftContainerPlatformVersion:
        default: Openshift Container Platform Version
      MasterInstanceType:
        default: Master Instance Type
      EtcdInstanceType:
        default: Etcd Instance Type
      NodesInstanceType:
        default: Nodes Instance Type
      NumberOfMaster:
        default: Number of Masters
      NumberOfEtcd:
        default: Number of Etcds
      NumberOfNodes:
        default: Number of Nodes
      OutputBucketName:
        default: Output S3 Bucket Name
      AWSServiceBroker:
        default: AWS Service Broker
      HawkularMetrics:
        default: Hawkular Metrics
      DomainName:
        default: Domain Name
      HostedZoneID:
        default: Route 53 Hosted Zone ID
      SubDomainPrefix:
        default: Subdomain Prefix
      GlusterFS:
        default: GlusterFS
      GlusterStorageSize:
        default: Gluster Storage Size
      GlusterStorageType:
        default: Gluster EBS volume type
      GlusterInstanceType:
        default: Gluster Instance Type
      NumberOfGluster:
        default: Number of Gluster Hosts
      GlusterStorageIops:
        default: Gluster Storage Iops
      GlusterStorageEncrypted:
        default: Gluster Storage Encrypted
      AutomationBroker:
        default: OpenSift Automation Broker
      AvailabilityZones:
        default: Availability Zones
      AnsibleFromGit:
        default: Get Ansible from Git
      ClusterName:
        default: Cluster Name
      ClusterConsole:
        default: Enable the cluster console (Requires OpenShift 3.11)
Parameters:
  AmiId:
    Description: >-
      OPTIONAL: bring your own AMI. In Enterprise environment, you might
      need to bring your own AMI (with proxy, softwares, ...).
      If the AMI is encrypted, keep in mind that the key policy should allow use of
      the key from AWSServiceRoleForAutoScaling.
      If left blank, we'll use the base RHEL image from your region.
    Type: String
    Default: ""
  AvailabilityZones:
    Description: List of Availability Zones to use for the subnets in the VPC. Three
      Availability Zones are used for this deployment, and the logical order of your
      selections is preserved.
    Type: List<AWS::EC2::AvailabilityZone::Name>
  KeyPairName:
    Description: The name of an existing public/private key pair, which allows you
      to securely connect to your instance after it launches
    Type: AWS::EC2::KeyPair::KeyName
  PrivateSubnet1CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.0.0/19
    Description: CIDR block for private subnet 1 located in Availability Zone 1
    Type: String
  PrivateSubnet2CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.32.0/19
    Description: CIDR block for private subnet 2 located in Availability Zone 2
    Type: String
  PrivateSubnet3CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.64.0/19
    Description: CIDR block for private subnet 2 located in Availability Zone 3
    Type: String
  PublicSubnet1CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.128.0/20
    Description: CIDR block for the public (DMZ) subnet 1 located in Availability
      Zone 1
    Type: String
  PublicSubnet2CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.144.0/20
    Description: CIDR block for the public (DMZ) subnet 2 located in Availability
      Zone 2
    Type: String
  PublicSubnet3CIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.160.0/20
    Description: CIDR block for the public (DMZ) subnet 2 located in Availability
      Zone 3
    Type: String
  QSS3BucketName:
    AllowedPattern: ^[0-9a-zA-Z]+([0-9a-zA-Z-]*[0-9a-zA-Z])*$
    ConstraintDescription: Quick Start bucket name can include numbers, lowercase
      letters, uppercase letters, and hyphens (-). It cannot start or end with a hyphen
      (-).
    Default: aws-quickstart
    Description: S3 bucket name for the Quick Start assets. This string can include
      numbers, lowercase letters, uppercase letters, and hyphens (-). It cannot start
      or end with a hyphen (-).
    Type: String
  QSS3KeyPrefix:
    AllowedPattern: ^[0-9a-zA-Z-/]*$
    ConstraintDescription: Quick Start key prefix can include numbers, lowercase letters,
      uppercase letters, hyphens (-), and forward slash (/).
    Default: quickstart-redhat-openshift/
    Description: S3 key prefix for the Quick Start assets. Quick Start key prefix
      can include numbers, lowercase letters, uppercase letters, hyphens (-), and
      forward slash (/).
    Type: String
  RemoteAccessCIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/x
    Description: The CIDR IP range that is permitted to access the instances We recommend
      that you set this value to a trusted IP range.
    Type: String
  ContainerAccessCIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/x
    Description: The CIDR IP range that is permitted to access the instances We recommend
      that you set this value to a trusted IP range.
    Type: String
  OpenShiftAdminPassword:
    Description: Password for OpenShift Admin UI Must be at least 8 and no more than
      12 characters containing letters and (minimum 1 capital letter), numbers and
      symbols
    Type: String
    MinLength: '8'
    AllowedPattern: ^[^ \\']+$
    NoEcho: 'true'
  RedhatSubscriptionUserName:
    Description: Enter Redhat RHN User Name
    Type: String
  RedhatSubscriptionPassword:
    NoEcho: 'true'
    Description: Enter Redhat RHN Password
    Type: String
    AllowedPattern: ^[^ \\']+$
  RedhatSubscriptionPoolID:
    Description: Enter Redhat RHN PoolID
    Type: String
  OpenshiftContainerPlatformVersion:
    Description: OpenShift version to deploy
    Default: '3.11'
    Type: String
    AllowedValues: [ '3.11' ]
  VPCCIDR:
    AllowedPattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(1[6-9]|2[0-8]))$
    ConstraintDescription: CIDR block parameter must be in the form x.x.x.x/16-28
    Default: 10.0.0.0/16
    Description: CIDR block for the VPC
    Type: String
  MasterInstanceType:
    Default: m5.xlarge
    AllowedValues:
      - t3.xlarge
      - t3.2xlarge
      - m5.xlarge
      - m5.2xlarge
      - m5.4xlarge
      - m5.12xlarge
      - c5.large
      - c5.xlarge
      - c5.2xlarge
      - c5.4xlarge
      - c5.9xlarge
      - t2.xlarge
      - m4.xlarge
      - m4.2xlarge
      - m4.4xlarge
      - m4.10xlarge
      - c4.large
      - c4.xlarge
      - c4.2xlarge
      - c4.4xlarge
      - c4.8xlarge
    ConstraintDescription: Must contain valid instance type
    Description: Type of EC2 instance for the Master instances
    Type: String
  EtcdInstanceType:
    Default: m5.xlarge
    AllowedValues:
      - t3.xlarge
      - t3.2xlarge
      - m5.xlarge
      - m5.2xlarge
      - m5.4xlarge
      - m5.12xlarge
      - c5.large
      - c5.xlarge
      - c5.2xlarge
      - c5.4xlarge
      - c5.9xlarge
      - t2.large
      - m4.xlarge
      - m4.2xlarge
      - m4.4xlarge
      - m4.10xlarge
      - c4.large
      - c4.xlarge
      - c4.2xlarge
      - c4.4xlarge
      - c4.8xlarge
    ConstraintDescription: Must contain valid instance type
    Description: Type of EC2 instance for the Etcd instances
    Type: String
  NodesInstanceType:
    Default: m5.xlarge
    AllowedValues:
      - t3.xlarge
      - t3.2xlarge
      - m5.xlarge
      - m5.2xlarge
      - m5.4xlarge
      - m5.12xlarge
      - c5.large
      - c5.xlarge
      - c5.2xlarge
      - c5.4xlarge
      - c5.9xlarge
      - t2.large
      - m4.xlarge
      - m4.2xlarge
      - m4.4xlarge
      - m4.10xlarge
      - c4.large
      - c4.xlarge
      - c4.2xlarge
      - c4.4xlarge
      - c4.8xlarge
    ConstraintDescription: Must contain valid instance type
    Description: Type of EC2 instance for the Node instances
    Type: String
  NumberOfMaster:
    Default: '3'
    Description: This Deployment requires at least 3 OpenShift Master instances
    Type: String
    AllowedPattern: '^[3579]$|(^[1-9]+[13579]$)'
  NumberOfEtcd:
    Default: '3'
    Description: This Deployment requires at least 3 OpenShift Etcd instances
    Type: String
    AllowedPattern: '^[3579]$|(^[1-9]+[13579]$)'
  NumberOfNodes:
    Default: '3'
    Description: The desired capacity for the OpenShift node instances
    Type: Number
  OutputBucketName:
    Description: 'OPTIONAL: Bucket Name where the zip file output should be placed,
      if left blank a bucket name will be automatically generated.'
    Type: String
    Default: ''
  AWSServiceBroker:
    Default: Enabled
    Description: Enable the AWS Service Broker
    Type: String
    AllowedValues: [ Enabled, Disabled ]
  HostedZoneID:
    Description: 'OPTIONAL: Route 53 Hosted Zone ID to use. If left blank route 53
      will not be configured and DNS must be setup manually If you specify this you must also specify DomainName'
    Type: String
    Default: ""
  DomainName:
    Description: >-
      OPTIONAL: domain name configured for the cluster, if left blank self signed
      certificates will be used for TLS and the LoadBalancer's auto-generated hostname
      will be used for connections from outside the cluster.
    Type: String
    Default: ""
  SubDomainPrefix:
    Default: ''
    Description: 'OPTIONAL: Subdomain to use, if left blank DomainName will be used
      without a prefix. If you specify this you must also specify DomainName and HostedZoneID'
    Type: String
  HawkularMetrics:
    Default: Enabled
    Description: Enable Hawkular cluster metrics
    Type: String
    AllowedValues: [ Enabled, Disabled ]
  GlusterFS:
    Default: Disabled
    Description: Enable GlusterFS storage cluster
    Type: String
    AllowedValues:
      - Enabled
      - Disabled
  GlusterStorageSize:
    Description: Size in GB of the available storage (will create 3x ebs volumes of this size)
    Type: Number
    Default: 1000
  GlusterStorageType:
    Default: io1
    Description: EBS volume type to use for storage
    Type: String
    AllowedValues:
      - io1
      - gp2
      - st1
  GlusterInstanceType:
    Default: i3.large
    AllowedValues:
      - i3.large
      - i3.xlarge
      - i3.2xlarge
      - i3.4xlarge
      - i3.8xlarge
      - i3.16xlarge
    ConstraintDescription: Must contain valid instance type
    Description: Type of EC2 instance for the Node instances
    Type: String
  NumberOfGluster:
    Default: '3'
    Description: This Deployment requires a minimum of 3 Gluster instances
    Type: Number
    AllowedValues:
      - '3'
  GlusterStorageIops:
    Default: 3000
    Description: EBS volume IOPS to allocate (only applicable if io1 has been selected for GlusterStorageType)
    Type: Number
  GlusterStorageEncrypted:
    Default: False
    Description: Enable EBS encryption for Gluster storage volumes
    Type: String
    AllowedValues:
      - False
      - True
  AutomationBroker:
    Default: Enabled
    Description: Enable the OpenShift Automation Service Broker
    Type: String
    AllowedValues: [ Enabled, Disabled ]
  AnsibleFromGit:
    Default: "False"
    Description: Get openshift installer playbooks from GitHub. By default, they come from RPM.
    Type: String
    AllowedValues:
      - "True"
      - "False"
  ClusterName:
    Default: ""
    Description: Custom cluster name for kubernetes.io/cluster/ tags, if left blank will use the stackname suffixed with the region
    Type: String
  ClusterConsole:
    Default: Enabled
    Description: Enable the Cluster Console
    Type: String
    AllowedValues: [ Enabled, Disabled ]
Conditions:
  CustomClusterName: !Not
    - !Equals
      - !Ref ClusterName
      - ""
Resources:
  VPCStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub 'https://${QSS3BucketName}.s3.amazonaws.com/${QSS3KeyPrefix}submodules/quickstart-aws-vpc/templates/aws-vpc.template'
      Parameters:
        AvailabilityZones: !Join [ ',', !Ref 'AvailabilityZones' ]
        KeyPairName: !Ref 'KeyPairName'
        NumberOfAZs: '3'
        PrivateSubnet1ACIDR: !Ref 'PrivateSubnet1CIDR'
        PrivateSubnet2ACIDR: !Ref 'PrivateSubnet2CIDR'
        PrivateSubnet3ACIDR: !Ref 'PrivateSubnet3CIDR'
        PrivateSubnetATag2: !Sub "kubernetes.io/cluster/${AWS::StackName}-${AWS::Region}=owned"
        PrivateSubnetATag3: "kubernetes.io/role/internal-elb="
        PublicSubnet1CIDR: !Ref 'PublicSubnet1CIDR'
        PublicSubnet2CIDR: !Ref 'PublicSubnet2CIDR'
        PublicSubnet3CIDR: !Ref 'PublicSubnet3CIDR'
        PublicSubnetTag2: !Sub "kubernetes.io/cluster/${AWS::StackName}-${AWS::Region}=owned"
        PublicSubnetTag3: "kubernetes.io/role/elb="
        VPCCIDR: !Ref 'VPCCIDR'
  OpenShiftStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub 'https://${QSS3BucketName}.s3.amazonaws.com/${QSS3KeyPrefix}templates/openshift.template'
      Parameters:
        NumberOfAZs: '3'
        MasterInstanceType: !Ref 'MasterInstanceType'
        NodesInstanceType: !Ref 'NodesInstanceType'
        EtcdInstanceType: !Ref 'EtcdInstanceType'
        NumberOfMaster: !Ref 'NumberOfMaster'
        NumberOfEtcd: !Ref 'NumberOfEtcd'
        NumberOfNodes: !Ref 'NumberOfNodes'
        AnsibleStorageSize: '10'
        KeyPairName: !Ref 'KeyPairName'
        PrivateSubnet1ID: !GetAtt 'VPCStack.Outputs.PrivateSubnet1AID'
        PrivateSubnet2ID: !GetAtt 'VPCStack.Outputs.PrivateSubnet2AID'
        PrivateSubnet3ID: !GetAtt 'VPCStack.Outputs.PrivateSubnet3AID'
        PublicSubnet1ID: !GetAtt 'VPCStack.Outputs.PublicSubnet1ID'
        PublicSubnet2ID: !GetAtt 'VPCStack.Outputs.PublicSubnet2ID'
        PublicSubnet3ID: !GetAtt 'VPCStack.Outputs.PublicSubnet3ID'
        RemoteAccessCIDR: !Ref 'RemoteAccessCIDR'
        ContainerAccessCIDR: !Ref 'ContainerAccessCIDR'
        QSS3BucketName: !Ref 'QSS3BucketName'
        QSS3KeyPrefix: !Ref 'QSS3KeyPrefix'
        OpenShiftAdminPassword: !Ref 'OpenShiftAdminPassword'
        RedhatSubscriptionUserName: !Ref 'RedhatSubscriptionUserName'
        RedhatSubscriptionPassword: !Ref 'RedhatSubscriptionPassword'
        RedhatSubscriptionPoolID: !Ref 'RedhatSubscriptionPoolID'
        OutputBucketName: !Ref 'OutputBucketName'
        VPCCIDR: !Ref 'VPCCIDR'
        VPCID: !GetAtt 'VPCStack.Outputs.VPCID'
        OpenshiftContainerPlatformVersion: !Ref 'OpenshiftContainerPlatformVersion'
        AWSServiceBroker: !Ref 'AWSServiceBroker'
        HostedZoneID: !Ref 'HostedZoneID'
        DomainName: !Ref 'DomainName'
        SubDomainPrefix: !Ref 'SubDomainPrefix'
        HawkularMetrics: !Ref 'HawkularMetrics'
        AnsibleFromGit: !Ref 'AnsibleFromGit'
        ClusterName: !If
        - CustomClusterName
        - !Ref ClusterName
        - !Sub '${AWS::StackName}-${AWS::Region}'
        GlusterStorageEncrypted: !Ref GlusterStorageEncrypted
        GlusterStorageIops: !Ref GlusterStorageIops
        NumberOfGluster: !Ref NumberOfGluster
        GlusterInstanceType: !Ref GlusterInstanceType
        GlusterStorageType: !Ref GlusterStorageType
        GlusterStorageSize: !Ref GlusterStorageSize
        GlusterFS: !Ref GlusterFS
        AutomationBroker: !Ref AutomationBroker
        AmiId: !Ref AmiId
        ClusterConsole: !Ref ClusterConsole

Outputs:
  OpenShiftUI:
    Description: The URL OpenShiftUI
    Value: !GetAtt 'OpenShiftStack.Outputs.OpenShiftUI'
  ContainerAccessELBName:
    Description: Use this ELB to expose ports to the internet
    Value: !GetAtt 'OpenShiftStack.Outputs.ContainerAccessELBName'
